<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Lista ksiazek</h1>

    <table>
        <tr>
            <th width="100">  Adres  </th>
            <th width="100">  Nazwa  </th>

        </tr>

        <tr th:each="publisher : ${publisher}">
            <td th:text="${publisher.getAddress()}"></td>
            <td th:text="${publisher.getName()}"></td>

        </tr>

    </table>

</div>
</body>
</html>